.test{
    width:200px;
    height:150px;
    &__title{
        color:cadetblue;
    }
}
.navigation{
    background:#5c2d3c;
    padding:16px;
    display: none;
    justify-content: center;
    flex-shrink: 2;
    margin-top:10px;
    &__open{
        display:block;
    }
  }
  .main-heading{
    color: #968864;
    margin-top:60px;
    padding:16px;
    &--js__2{
        color:rgba(70, 41, 104, 0.671);
    }
  }
  .week-summary{
    padding:16px;
    border:1px solid rgb(147, 184, 92);
    border-radius:5px;
    width:100%;
     &___heading::before{
        content:"";
        display:block;
        width:20px;
        height:20px;
        background:cadetblue;
      }
    }
    .about{
      width:100%;
      &__description{
         color:rgb(75, 52, 52);
      }
      &__special{
         border: 1px solid;
         border-color: rgb(110, 58, 117);
         border-radius:5px;
         padding:16px;
         width:100%;
      }
      &:not(.about__special){
        background:plum;
      }
      &__heading--second{
        color: #afaa78;
        margin:5px;
      }
      &-picture{
        display: inline-block;
        max-width: 100%;
      }
    }
   