.test{
    width:200px;
    height:150px;
    &__title{
        color:cadetblue;
    }
}
.navigation{
    background:#5c2d3c;
    padding:16px;
    display: none;
    justify-content: center;
    flex-shrink: 2;
    margin-top:10px;
    &__open{
        display:block;
    }
  }
  .main-heading{
    color: #968864;
    margin-top:60px;
    padding:16px;
    &--js__2{
        color:rgba(70, 41, 104, 0.671);
    }
  }