body {
  background: #F3EEC3;
  margin: 10px;
}
h2 {
  color: #B0D0D3;
  margin:5px;
}
/* section{
    border:1px solid #1460AA;
    border-radius: 6px ;
} */
.third {
  color: hotpink;
}

nav a {
  color: cadetblue;
}
a {
  color: #F7AF9D;
}
#fourth {
  color: #C08497;
}

h1 {
  color: #F7E3AF;
  margin:5px;
}
.navigation{
    background:#C08497 ;
    padding: 10px;
    border-radius: 5px;
}
.naviagation__link{
    color: darkkhaki;
    display: inline-block;
    margin:4px;
}
.naviagation__link-homepage{
    background: rgb(124, 182, 182);
    color:whitesmoke;
}
.week-summary{
    padding:16px;
    border:1px solid rgb(147, 184, 92);
    border-radius:5px;
    
}
.week-summary__description{
    color:rgb(75, 52, 52);
}

.week-summary--special{
    border-color: rgb(110, 58, 117);
    border-radius:5px;
}
.logo{
  box-sizing: border-box;
  position: relative;
  top:7px;
  left:750px;
}
.week-summary__heading--second{
  color: #afaa78;
  margin:5px;
}
.main-heading{
  color: #c5b58e;
  margin:5px;
}